@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

html {
	height: 100%;
  }

body {
	background-image: url("https://source.unsplash.com/featured/?nature,water");
	background-size: cover;
	height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

h1 {
	text-align: center;
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.App {
	height: 100%;
}

#root {
	height: 100%;
}


#container {
	width: 360px;
	margin: 100px auto;
	background: #741a1a;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	opacity: 0.9;
}

li:nth-child(2n){
	background: #f7f7f7;
}

li {
	padding-left: 5px;
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.sidebar-div {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #151b26;
	flex-shrink: 0;
}

#todolists {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
}
#content-div { 
	height: 100%;
}
#nav-list i {
	float: right;
	color: #706e61;
	margin-top: 12px;
	margin-right: 10px;
}
#nav-list i:hover {
	color: #e74c3c;
}

.main-div {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	display: flex;
  }
.column {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex:1 1;
}
#left {
	width: 150px;
	max-width: 500px;
	background-color: rgb(69, 50, 104);
}
.bottom {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
}

.bottom ul {
	list-style-type:"none";
	padding: 0;
	border: #706e61;
	border-radius: 20%;
}